
    .main{
        position: relative;
    // background-image: url("../Images/bg_2.jpg");
    width: 100%;
height: 100vh;    
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 7;
    z-index: 0;
    margin: 0;
    box-sizing: border-box;
    
    
    .background{
        width: 100%;
        height: 100vh;
        position: absolute;

        background-color: #000000;
        opacity: .7;
    }
       
    }

  

    

