.testCard{
    height: 600px;
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    border: 2px solid grey;
    flex-direction: column;
    justify-content: center;

    &  img{
        height: 60px;
        width: 100px;
        object-fit: contain;
    }
}